body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.inner{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.inner .gnb ul{
    display: flex;
}

.inner .gnb ul li a{
    color:white;
    font-weight: bold;
    margin-right: 35px;
}