/* topBtn */
.top_btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: gray;
    z-index: 10;
    position: fixed;
    right:50px; bottom:50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
}

.top_btn:hover{
    font-size: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

header{
    width: 100%;
}

.inner{
    width: calc(100% - 354px);
    margin: 0 auto;
}

header .inner{
    width: calc(100% - 354px);
    height: 70px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .inner .logo{
    width: 110px;
    height: 20px;
}

header .inner .logo h1{

}

header .inner .logo h1 a{
    display: block;
    width: 110px;
    height: 20px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

header .inner .nav{
    display : flex;
    align-items:flex-start;
    justify-content:center;
}

header .inner .nav li{
    margin-right: 25px;
}

header .inner .nav li:last-child{
    margin-right: 0;
}

header .inner .nav li a{
    color: #000;
    font-weight: bold;
    font-size: 25px;
}

header .inner .gnb{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .inner .gnb li{
    margin-right: 20px;
}

header .inner .gnb li:nth-child(2) a{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-login.png");
    background-repeat : no-repeat;
    background-position : center center;
}

header .inner .gnb li:nth-child(3) a{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-cart.png");
    background-repeat : no-repeat;
    background-position : center center;
}

header .inner .gnb li input{
    width: 160px;
    height: 25px;
    border: 1px solid #e21244;
    border-radius: 20px;
    background-image: url(../img/icon-find.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

header .inner .gnb li {

}

header .inner p{
    width:20px;
    height: 20px;

    position: absolute;
    right: 190px;
    top: 10px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;

    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}

/* main */

main{
    width: 100%;
    position: relative;
}

main .main_img{
    width: 100%;
}

main .dot{
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%; bottom: 35px;
    transform: translateX(-50%);
}

main .dot li{
}

main .dot li a{
    display: block;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    margin-left: 15px;
}

/* //main */

/* section01 */

.section01{
    width: 100%;
    position: relative;
}
.section01 .inner{
    padding: 6rem;
    position: relative;
}
.section01 .inner h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.section01 .inner .items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section01 .inner .items li{
    width: 500px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.section01 .inner .items li:first-child{
    margin-right: 80px;
}

.section01 .inner .items li > a{
    display: block;
    position: relative;
}

.section01 .inner .items li > a img{
    width: 100%;
}
.section01 .inner .items li .text_box{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 25px;
    bottom: 15px;
}

.section01 .inner .items li .text_box p{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}
.section01 .inner .items li .text_box a:last-child{
    display: block;
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: #EB1F4C;
    border-radius: 50px;
    font-size: 15px;
    color: white;
}

.section01 .inner .items li a .gra{
    display: block;
    position: absolute;
    left:0;
    top:50%;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, black 100%);
}

.section01 .inner .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section01 .inner .btn a{
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 60px;
    margin-right: 8px;
    border-radius : 50%;
    background-color: black;
}
/* //section01 */

/* footer */

footer{
    width: 100%;
    background-color: #59595B;
}

footer .inner{
    padding: 60px;
    text-align: center;
    color: #F3F3F3;
}

footer .inner a{
    color : #F3F3F3;
}

footer .inner h2{
    margin-bottom: 30px;
}

footer .inner ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 15px;
}

footer .inner .link{
    font-size: 15px;
    font-weight: bold;
}

footer .inner .link li{
    margin-right: 10px;
    position: relative;
}
footer .inner .link li a{
}
footer .inner .link li a::after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    right:-5px; top:0;
    background-color: white;
}
/* //footer */
