body{
    margin: 0;
    padding: 0;
}

.inner{
    margin: 0 auto;
    width: calc(100% - 350px);
    padding-top: 30px;
}

.inner .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner .logo input{
    width: 330px;
    background-image : url("../img/pointer.png"); 
    background-position:left; 
    background-repeat:no-repeat;
    border: 0;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.inner .logo ul{
    display: flex;
}

.inner .logo ul li{
    margin-right: 25px;
}

.inner .logo ul li a{
    font-size: 13px;
    color:black;
}

.inner .logo ul li button{
    width: 60px;
    height: 25px;
    color:#888890;
    border:1px solid #888890;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.inner .gnb{
    width: calc(100% - 100px);
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner .gnb ul{
    display: flex;
}

.inner .gnb ul li{
    margin-right: 130px;
    position: relative;
    left:20px;
}

.inner .gnb ul li a{
    font-size: 18px;
    color: black;
}

.inner .gnb button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}