body{
    margin: 0;
    padding:0;
}
/* header */
header{
    width: 100%;
    position: relative;
}

header .inner .logo{
    width: calc(100% - 170px);
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .inner .logo .menu{
    display: flex;
}

header .inner .logo .menu li{
    margin-right: 30px;
}

header .inner .logo .menu li a{
    font-weight: bold;
    color:black;
}

header .inner .logo .mine{
    display: flex;
}

header .inner .logo .mine li{
    margin-right: 30px;
}

header .inner .logo .mine li img{
    cursor: pointer;
}

header .inner .logo .cart_count{
    width: 19px;
    height: 19px;

    position: absolute;
    right: 340px;
    top: 25px;

    color: white;
    font-size: 11px;

    border:1px solid none;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 19px;
}
/* //header */

/* main */
main{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

main .main_container .txt1{
    position: absolute;
    top: 120px;
    left: 330px;

    font-size: 35px;
    font-weight: bold;
    line-height: 1.2;
}

main .main_container .txt2{
    position: absolute;
    top: 235px;
    left: 330px;

    font-size: 14px;
}

main .main_container .back{
    /* width: 71px;
    height: 71px;

    position: absolute;
    top: 50%;
    left: 50%;

    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -766px -832px;

    border: 1px solid none;
    border-radius: 50%; */
}

main .main_container .front{
}

main .main_container .more{
    width: 102px;
    height: 40px;

    position: absolute;
    bottom: 30%;
    left: 350px;

    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 13px;

    background-color: black;
    color: white;
    border: 1px solid none;
    border-radius: 50px;
}
/* //main */