body{
    margin: 0;
    padding: 0;
}

.btns{
    display: block;
    width: 86px;
    height: 426px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10;
    border: 1px solid white;
    background-color: white;
}

.btns ul li .login{
    width: 84px;
    height: 59px;
}

.btns ul li .login:after{
    width: 36px;
    height: 32px;
    content: "";
    background-image: url("../img/btn/icoFloating.png");
    background-repeat: no-repeat;
    background-position:0;
}

.btns ul li .order{
    width: 84px;
    height: 64px;
}

.btns ul li .order:after{
    width: 36px;
    height: 32px;
    content: "";
    background-image: url("../img/btn/icoFloating.png");
    background-repeat: no-repeat;
    background-position:0;
}

.btns ul li .product{
    width: 84px;
    height: 83px;
}

.btns ul li .product:after{
    width: 36px;
    height: 32px;
    content: "";
    background-image: url("../img/btn/icoFloating.png");
    background-repeat: no-repeat;
    background-position:0;
}

.btns ul li .counseling{
    width: 84px;
    height: 64px;
}

.btns ul li .counseling:after{
    width: 36px;
    height: 32px;
    content: "";
    background-image: url("../img/btn/icoFloating.png");
    background-repeat: no-repeat;
    background-position:0;
}

.btns ul li .cook{
    width: 84px;
    height: 64px;
}

.btns ul li .cook:after{
    width: 36px;
    height: 32px;
    content: "";
    background-image: url("../img/btn/icoFloating.png");
    background-repeat: no-repeat;
    background-position:0;
}

.btns ul li .top{
    width: 86px;
    height: 29px;
}
/* //btns */


/* header */
header{
    width: 100%;
    position: relative;
}

header .inner{
    width: calc(100% - 700px);
    height: 132px;
    margin: 0 auto;
}

header .inner .logo{
    padding-top : 25px;
    height : 35px;
    margin-bottom: 20px;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
}

header .inner .logo h1 button{
    position: relative;
    right:-5px;
    top: -5px;
    border: none;
    cursor: pointer;
}

header .inner .logo h1 span a{
    position: relative;
    left: -2px;
    top: -6px;
    color : #666666;
    font-size: 12px;
    font-weight: bold;
}

header .inner .mymenu{
    display: flex;
    align-items:flex-end;
    justify-content:flex-start;
}

header .inner .logo .mymenu li{
    margin-left: 10px;
    padding-left: 10px;
    /* border-left: 1px solid gray; */
    /* color: gray; */
    font-size: 12px;
    font-weight: bold;
}

header .inner .logo .mymenu li:first-child{
    margin: 0px;
    padding:0px;
    border: 0;
}

header .inner .bottom_step{
    display : flex;
    align-items: center;
    justify-content: space-between;
}

header .inner .bottom_step .menu{
    display : flex;
}

header .inner .bottom_step .menu li{
    margin-left: 10px;
    margin-right : 10px;
    font-size: 20px;
}

header .inner .bottom_step .menu li .line{
    width:20px;
    height:3px;
    background-color: #000;
    margin-top: 5px;
}

header .inner .bottom_step .menu li .line:first-child{
    margin-top: 0px;
}

header .inner .bottom_step .menu li button{
    border: none;
    background: none;
}

header .inner .bottom_step .menu li a{
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

header .inner .bottom_step .gnb{
    display : flex;
}

header .inner .gnb li input{
    width: 330px;
    height: 35px;
    padding-left: 20px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 20px;
    background-image: url("../img/btnSearch.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

header .inner .gnb li a{
    width: 45px;
    height:35px;
    margin-left: 20px;
    display: block;
    background-image: url("../img/btnCart.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
}

header .inner .bottom_step span .cart_count{
    width: 18px;
    height: 18px;

    text-align: center;
    font-size: 11px;
    
    position: absolute;
    right: 405px;
    top: 76px;

    color: white;
    border-radius: 50%;
    background-color: #8CC45D;
}
/* //header */

/* main */
main{
    width: 100%;
    position: relative;
}

main .slide span .back{
    width: 63px;
    height: 63px;
    position : absolute;
    left: 18%; top: 170px;
    background-image: url("../img/main/visualArrP.png");
    background-position: 0px -190px;
}

main .slide span .front{
    width: 63px;
    height: 63px;
    position : absolute;
    right: 18%; top: 180px;
    background-image: url("../img/main/visualArrP.png");
    background-position: 0px -190px;
    transform:rotate(180deg);
}

main .slide button{
    width: 30px;
    height: 30px;

    position: absolute;
    left: 22%; top: 340px;
    
    background-image:url("../img/main/visualPlay.png");
    background-repeat: no-repeat;
    background-position: 0px -30px;

    border-radius: 50%;
    border: none;

    cursor: pointer;
}

main .slide span .num{
    width: 52px;
    height: 32px;

    position: absolute;
    left: 24%; top:340px;

    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    background-image: url("../img/main/visualNum.png");
    background-repeat: no-repeat;

    cursor: pointer;
}

main .slide span .more{
    width: 32px;
    height: 30px;

    position: absolute;
    left: 27%; top:340px;

    text-align: center;
    background-image: url("../img/main/visualMore.png");
    background-repeat: no-repeat;

    cursor: pointer;
}
/* //main */

/* section */
.section01 .inner .goods_wrap{
    width: 65%;
    margin: 0 auto;
}

.section01 .inner .goods_wrap caption{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
}

.section01 .inner .goods_wrap tbody tr td div{
    position: relative;
}

.section01 .inner .goods_wrap tbody tr td div .my_cart{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/section01/btnCartList.png");
    background-repeat: no-repeat;
    bottom: 0;
    right: 5%;
}
/* //section */

/* footer */
footer{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 13px;
    padding-top: 50px;
}

footer .inner{
    margin: 0 auto;
    width: calc(100% - 35%);
}

footer .inner a{
    color: black;
}

footer .inner .main_notice{
    display: flex;
    justify-content: center;
}

footer .inner .main_notice h2{
    font-weight: bold;
    font-size: 20px;
}

footer .inner .main_notice li{
    margin-right: 50px;
}

footer .inner .main_notice .notice{
}

footer .inner .main_notice .advice p{
    color: #76BD41;
    font-size: 30px;
    font-weight: bold;
}

footer .inner .main_notice .advice b{
    font-weight: bold;
    color : #000000;
}

footer .inner .main_notice .advice li a{
    font-weight: bold;
}

footer .inner .main_notice .question li{
    display: flex;
}

footer .inner .main_notice .question li span{
    margin-right: 8px;
    margin-bottom: 8px;
}

footer .inner .main_notice .question li span a{
    position: relative;
    display: block;
    width: 155px;
    height: 38px;
    border: 1px solid #E5E5E5;
    line-height: 38px;
}

footer .inner .main_notice .question li span a img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


footer .condition{
    margin: 0 auto;
    width: calc(100% - 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

footer .condition ul{
    display: flex;
}

footer .condition ul li{
    margin-right: 10px;
}

footer .condition a{
    color: black;
    font-weight: bold;
}

footer .condition a span{
    margin-right: 10px;
    font-weight: bold;
    color: #666666;
}

footer .address{
    margin: 0 auto;
    width: calc(100% - 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .address ul li{
    margin-bottom: 5px;
}

footer .address ul li ul{
    display: flex;
}

footer .address ul li ul li{
    margin-right: 10px;
}

footer .address ul li ul li a{
    font-weight: bold;
    color: black;
}

footer .address .sns_img{
    display: flex;
}

footer .address .sns_img li a{
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../img/footer/ftSns.png");
    background-repeat: no-repeat;
    margin-right: 10px;
}

footer .address .sns_img li .insta{
    background-position: 0 -26px;
}

footer .address .sns_img li .blog{
    background-position: 0 -52px;
}

footer .address .sns_img li .youtube{
    background-position: 0 -78px;
}

footer .address .sns_img li .kakaotalk{
    background-position: 0 -104px;
}

footer .copyright{
    margin: 0 auto;
    width: calc(100% - 35%);
    font-size: 10px;
    color: #9C9B99;
}

footer .copyright p{
    margin:0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* //footer */