body{
    margin: 0;
    padding: 0;
}

/* header */
header{
    width: 100%;
}
header .inner{
    width: calc(100% - 505px);
    margin: 0 auto;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}

header .inner .logo{
    display: block;
}

header .inner .menu ul{
    display:flex;
}

header .inner .menu li a{
    position: relative;
    top: 7px;
    color:black;
    font-size: 14px;
    margin: 30px;
}
/* //header */

/* main */
main{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

main .main_img .logo{
    width: 309px;
    height: 33px;
    position: absolute;
    left: 13%;
    top: 110px;
    background-image: url("../img/main/SBDC_logo.png");
    background-repeat: no-repeat;
}

main .main_img .txt1{
    position: absolute;
    left: 13%;
    top: 180px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
}

main .main_img .txt2{
    position: absolute;
    left: 13%;
    top: 330px;

    font-size: 17px;
    color: white;
}

main .main_img .more{
    position: absolute;
    left: 13%;
    top: 400px;

    width: 168px;
    height: 48px;

    border: 1px solid white;
    border-radius: 50px;

    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 48px;
}

main .main_img .swiper{
    display: flex;
}

main .main_img .swiper span{
    width: 12px;
    height: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:-60px;

    border: 1px solid white;
    border-radius: 6px;

    margin-right: 5px;
    cursor: pointer;
}
/* // main */

/* section01 */
.section01{
    width: 100%;
}

.section01 .inner{
    margin-left: 15%;
    margin-right: 15%;
}

.section01 .inner h1{
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.3em;
}

.section01 .inner ul{
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
}

.section01 .inner ul li{
    width: 50%;
    height: 170px;
}

.section01 .inner ul li img{
    position: absolute;
    background-color: #F6F6F6;
    border-radius: 50%;
    cursor: pointer;
}

.section01 .inner ul li a{
    display: block;
    position: relative;
    left: 30%;
    top: 30%;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.section01 .inner ul li a:hover{
    border-bottom: 2px solid black;
}

.section01 .inner ul li span p{
    position: relative;
    left: 30%;
    top: 40%;
    color: #7C7C7C;
    line-height: 1.5em;
    cursor: pointer;
}

/* //section01 */